<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>

<body>
  <!-- ======= Header ======= -->
  <header th:replace="fragments :: topnav"></header>
  <!-- ======= Sidebar ======= -->
  <aside th:replace="fragments :: sidebar"></aside>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add new
      category</button>
    <!--Add Modal-->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <form th:action="@{/add-category}" method="post" th:object="${categoryNew}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" id="recipient-name">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:replace="fragments :: footer"></footer>
  <div th:replace="fragments :: script"></div>
</body>

</html>